---
import astroLogo from "../assets/imgs/astro.svg";
import background from "../assets/imgs/background.svg";
import PlayerWalk from "../assets/imgs/player_walk.gif";
import Header from "../components/Header.astro";
---

<div id="screen1">
	<Header />
	<img id="background" src={background.src} alt="" fetchpriority="high" />


	<main>
		<div id="clouds1"></div>
	</main>

	<footer id="footer">
		<div id="montains"></div>

		<img
			id="player"
			src={PlayerWalk.src}
			alt="Player Walking"
			fetchpriority="high"
			height="300"
			onclick="this.classList.add('jump'); this.addEventListener('animationend', () => this.classList.remove('jump'), { once: true })"
		/>
		<div id="floor"></div>
	</footer>
</div>

<style>
	#screen1 {
		height: 100vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		height: 100vh;
		margin: 0;
		background: linear-gradient(
			to bottom,
			#2a6fdb,
			#87cefa
		);
	}

	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}

	#footer {
		width: 100%;
	}

	#clouds1 {
		position: absolute;
		z-index: 0;
		top: 120px;

		height: 600px;
		width: 100%;

		background-image: url("../assets/imgs/clouds-1.png");
		background-repeat: repeat;
		background-position: 0 0;
		background-size: 100% 100%;
		animation: move-background-other-way 120s linear infinite;
		z-index: 0;
	}

	#montains {
		position: absolute;
		z-index: 0;
		bottom: 0;

		height: 650px;
		width: 100%;

		background-image: url("../assets/imgs/montains.png");
		background-repeat: repeat-x;
		background-position: 0 0;
		background-size: 100% 100%;
		animation: move-background 120s linear infinite;
		z-index: 0;
	}

	#player {
		margin-bottom: -18px;
		margin-left: 32px;
		z-index: 1;
		position: relative;
		cursor: pointer;
	}

	#floor {
		width: 100%;
		height: 90px;
		background-image: url("../assets/imgs/floor.png");
		background-repeat: repeat-x;
		background-position: 0 0;
		background-size: 100% 100%;
		animation: move-background 12s linear infinite;
		z-index: 2;
		position: relative;
	}

	@keyframes move-background {
		0% {
			background-position: 0 0;
		}
		100% {
			background-position: -1000px 0;
		}
	}

	@keyframes move-background-other-way {
		0% {
			background-position: 0 0;
		}
		100% {
			background-position: 1000px 0;
		}
	}

	.jump {
      animation: jump 0.5s ease;
    }

    @keyframes jump {
      0% { transform: translateY(0); }
      30% { transform: translateY(-60px); }
      60% { transform: translateY(0); }
      80% { transform: translateY(-15px); }
      100% { transform: translateY(0); }
    }
</style>
