---
const nome = "Mundo";

import dog_call from "../assets/imgs/dog-call.gif";
---
<section id="contact">
    <div id="screen2">
        <div id="dino"></div>
        <div id="floor-texture"></div>

        <h1 class="contact__title">Olá, {nome}!</h1>
        <div class="contact__container">
            <p>Seja bem-vindo ao meu portfólio.</p>
            <p>Estou animado para compartilhar meu trabalho com você.</p>
            <p>Vamos explorar juntos!</p>

            <p>Github: <strong><a target="_BLANK" href="https://github.com/ElandVarse">ElandVarse</a></p></strong></p>
            <p>Canal no Youtube: <a target="_BLANK" href="https://www.youtube.com/@pereira-andre">@pereira-andre</a></p>
            <p>Me mande um <a target="_BLANK" href="mailto:exemplo@email.com">e-mail!</a></p>
        </div>
    </div>
</section>

<style>
    #screen2 {
        background-color: #051017;
        height: 100vh;
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    #dino {
        position: absolute;
        background: url("../assets/imgs/dino.png");
        background-size: contain;
        background-repeat: no-repeat;

        width: 1200px;
        height: 1200px;

        top: 0px;
        left: 150px;
        right: 0;
        bottom: 0;
        margin: auto;

        opacity: 0.4;
        z-index: 999;
        transform: rotate(-60deg);
    }

    #floor-texture {
        background: url("../assets/imgs/floor-texture.png");
        background-size: 160px;
        width: 100%;
        height: 100%;
        opacity: 0.2;
    }

    .contact__container {
        left: 0;
        color: #fff;
        bottom: 0;
        padding: 32px;
        position: absolute;
        text-align: left;
        font-family: sans-serif;
        font-weight: ;
    }

    .contact__container a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
    }

    .contact__title {
        font-size: 6rem;
        margin-bottom: 16px;

        transform: rotate(10deg);
        color: #ffffff;
        position: absolute;
        top: 100px;
        right: 100px;
        z-index: 999;
        opacity: 0.4;
    }
</style>
