---
import Myself from "../assets/imgs/myself.gif";
import "../assets/styles/modal.css";
---

<div class="modal about">
    <img
        id="myself-img"
        src={Myself.src}
        alt=""
        fetchpriority="high"
        height="160"
        width="160"
    />

    <div class="modal-text">
        <h1>About Me</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
            neque adipisci hic error voluptates officiis laudantium eaque
            expedita numquam tenetur quasi, et vero cumque fugit ipsa? Iusto ut
            esse voluptatibus.
        </p>
    </div>
</div>

<script>
    const modal = document.querySelector(".modal.about");
    const about = document.querySelector("#header-about");

    if (about !== null && modal !== null) {
        about.addEventListener("click", () => {
            modal.classList.toggle("expanded");
        });
    }
</script>
