---
import Myself from "../assets/imgs/myself.gif";
import "../assets/styles/modal.css";
---

<div class="modal projects">
    <img
        id="baby"
        src="https://media.tenor.com/f6oxXKAdyK0AAAAi/baby-dancing.gif"
        alt=""
        fetchpriority="high"
        height="400"
        width="450"
    />
</div>

<style>
    .modal.projects {
        background: none;
        border: none;
        box-shadow: none;
    }

    .modal.projects #baby {
        width: auto;
        height: 600px;
        box-shadow: none;

    }
</style>

<script>
    const modal = document.querySelector(".modal.projects");
    const projects = document.querySelector("#header-projects");

    if (projects !== null && modal !== null) {
        projects.addEventListener("click", () => {
            modal.classList.toggle("expanded");
        });
    }
</script>
