---
const nome = "Mundo";
---

<div id="screen2">
    <div id="dino"></div>
    <div id="floor-texture"></div>
</div>

<style>
    #screen2 {
        background-color: #051017;
        height: 100vh;
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    #dino {
        position: absolute;
        background: url("../assets/imgs/dino.png");
		background-size: contain; 
        background-repeat: no-repeat;

        width: 1200px;
        height: 1200px;

        top: 0px; bottom: 0;
        left: 100px; right: 0;
        margin: auto;

        opacity: 0.4;
        transform: rotate(-60deg);
    }

    #floor-texture {
        background: url("../assets/imgs/floor-texture.png");
		background-size: 160px; 
        width: 100%;
        height: 100%;
        opacity: 0.2;
    }

    h1 {
        color: #0070f3;
        font-family: sans-serif;
    }
</style>
